/* CSS for the main webpage */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #818c06;
    color: #000;
    padding: 5px 20px;

}

.head {
    display: flex;
    font-size: 24px;
    margin-left: 10px; 
    align-items: center;

}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    margin-left: 10px;
}

.nav-links li {
    margin-right: 40px;
    margin-left: 10px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 24px;
}

#logo {

    width: 92px; 
    height: 80px; 
    margin: 0px 25px;

}

#page_title {
    display: flex;
    align-items: center;
    font-size: 36px;
}



#myfooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 0px 0px;
    text-align: start;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}


#logo_foot {

    width: 69px; 
    height: 60px; 
    margin-left: 55px;
    margin-right: 25px;


}

#title_foot {
    display: flex;
    align-items: center;
    font-size: 24px;
}

#about {
    padding: 0px 0px;
}

#about h1 {
    font-size: 18px; 
    color: #fff; 
}


#about h2 {
    font-size: 15px; 
    color: #fff; 
}

#logo_enseirb {
    width: 35%;
    height: auto;
}

#title {
    text-align: start;
    padding: 10px 0px;
    background-color: #ffffff; 
}
.image-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 450px; 
    padding: 10px 0px;

}

.bordered-image {
    max-width: 100%; 
    max-height: 100%; 
    border: 1px solid rgb(100, 100, 100); 

}

#title h1 {
    font-size: 36px; 
    color: #333; 
    padding-left: 40px;

}


#title h2 {
    font-size: 20px; 
    color: #333; 
    padding-left: 40px;

}



#title p {
    font-size: 20px; 
    color: #333; 
    padding-left: 40px;

}

#title2 {
    padding: 40px 00px;
    background-color: #f0f0f0; 
    justify-content: end;
}


#title3 {
    padding: 0px 700px;
    background-color: #f0f0f0; 
    justify-content: end;
}
.image-container {
    padding-left: 100px;
    margin: 50px 50px;
}



#title2 h1 {
    font-size: 36px; 
    color: #333; 
    padding-left: 40px;

}


#title2 h2 {
    font-size: 20px; 
    color: #333; 
    padding-left: 40px;

}



#title2 p {
    font-size: 20px; 
    color: #333; 
    padding-left: 40px;

}